@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: #001020;
}
main .main1 {
  padding: 2rem 1.5rem;
  padding-bottom: 2rem;
  display: grid;
  gap: 1.5rem;
}
main .main1 .m1Text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .main1 .m1Text P:first-child {
  font-weight: 700;
  color: #3b82f6;
  font-size: 1.2rem;
}
main .main1 .m1Text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
main .main1 .m1Text p:last-child {
  color: rgba(255, 255, 255, 0.4392156863);
  font-size: 1.2rem;
}
main .main1 .m1Text > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .main1 .m1Text > div button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: 2px solid #3b82f6;
  background-color: #3b82f6;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
main .main1 .m1Text > div > button:nth-child(2) {
  background-color: #000;
  color: #3b82f6;
}
main .main1 .m1Text > div > button:nth-child(2) i {
  color: #3b82f6;
}
main .main1 .images {
  display: none;
}
main .main2 {
  background-color: #0c1b2c;
  padding: 2rem 1.5rem;
}
main .main2 .m2Img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
main .main2 .m2Img img {
  border-radius: 20px;
  width: 100%;
}
main .main2 .m2Img .slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;
  padding: 0 15%;
  scroll-padding: 0 15%;
  gap: 2rem;
}
main .main2 .m2Img .slider .small {
  flex: 0 0 70%;
  scroll-snap-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main2 .m2text {
  display: grid;
  gap: 1.5rem;
}
main .main2 .m2text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
main .main2 .m2text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(197, 226, 255, 0.4431372549);
}
main .main2 .m2text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: 2px solid #3b82f6;
  background-color: rgba(0, 0, 0, 0);
  color: #3b82f6;
  font-size: 1.2rem;
  font-weight: 600;
}
main .main3 {
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
main .main3 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
main .main3 .speakers {
  display: grid;
  gap: 3rem;
}
main .main3 .speakers .img {
  display: grid;
  gap: 0.5rem;
}
main .main3 .speakers .img img {
  width: 100%;
  border-radius: 0.6rem;
}
main .main3 .speakers .img > h5 {
  font-size: 2rem;
  font-weight: 500;
}
main .main3 .speakers .img > p {
  color: rgba(220, 225, 231, 0.6078431373);
  font-size: 1.2rem;
  font-weight: 300;
}
main .main3 .m3Bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
main .main3 .m3Bottom h3 {
  font-size: 2rem;
  font-weight: 500;
}
main .main3 .m3Bottom p {
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.4509803922);
}
main .main3 .m3Bottom .m3bImage {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, minmax(100px, auto));
}
main .main3 .m3Bottom .m3bImage > div:first-child {
  padding: 1rem;
  background-color: #3b82f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}
main .main3 .m3Bottom .m3bImage > div:first-child img {
  width: 85%;
}
main .main3 .m3Bottom .m3bImage > div:last-child {
  padding: 1rem;
  background-color: #47c4fe;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText {
  display: grid;
  gap: 1rem;
  border-radius: 20px;
  width: 90%;
  padding: 2rem 1rem;
  text-align: left;
  background-color: #1a1818;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText div h5 {
  font-size: 1.5rem;
  font-weight: 500;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText div p {
  font-size: 1.3rem;
  font-weight: 300;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText p {
  font-size: 1rem;
}
main .main3 .m3Bottom .m3bImage > div:last-child .m3bText button {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3b82f6;
  padding: 1.5rem 4rem;
  font-size: 1.4rem;
  border-radius: 1rem;
}
main .main4 {
  background-color: #0c1b2c;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .main4 h3 {
  font-size: 2rem;
  font-weight: 500;
}
main .main4 p {
  font-size: 1.3rem;
  color: rgba(218, 218, 218, 0.5137254902);
}
main .main4 .stats {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
main .main4 .stats h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
main .main4 .stats p {
  font-size: 1.1rem;
}
main .main4 img {
  width: 100%;
  border-radius: 2rem;
}
main .main5 {
  padding: 2rem 1.5rem;
  display: grid;
  gap: 1.8rem;
}
main .main5 h4 {
  text-align: center;
  font-size: 1.5rem;
}
main .main5 .mDate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .main5 .mDate .date:hover {
  border: 1px solid #0c1b2c;
  background-color: #0c1b2c;
}
main .main5 .mDate .date {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  flex-direction: column;
  border: 1px solid #47c4fe;
}
main .main5 .mDate .date h3 {
  font-size: 2.3rem;
  font-weight: 300;
}
main .main5 .mDate .date h3,
main .main5 .mDate .date p {
  color: rgba(218, 218, 218, 0.5137254902);
}
main .main5 .m5Bottom {
  border: 1px solid #435972;
  border-radius: 2rem;
  padding: 1.4rem 2rem;
  display: grid;
  gap: 1.4rem;
}
main .main5 .m5Bottom h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
main .main5 .m5Bottom hr {
  background-color: #3714ff;
}
main .main5 .m5Bottom .m5bImg {
  display: flex;
  align-items: center;
}
main .main5 .m5Bottom .m5bImg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
main .main5 .m5Bottom .m5bImg img:nth-child(2) {
  margin-left: -10px;
}
main .main5 .m5Bottom .guest {
  display: grid;
  gap: 0.4rem;
}
main .main5 .m5Bottom .guest p:first-child {
  color: #435972;
}
main .main5 .m5Bottom .guest p:nth-child(2) {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main .main5 .m5Bottom .guest BUTTON {
  color: #3b82f6;
  border: 2px solid #3b82f6;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.6rem 2rem;
}
main .main5 .m5Bottom #guest {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main .main5 .m5Bottom {
  /* Cool hover effect: spread them out when hovering */
}
main .main5 .m5Bottom .m5bImg:hover img:nth-child(2) {
  margin-left: 5px;
}
main .main6 {
  display: grid;
  gap: 2rem;
  padding: 2rem 1.5rem;
  background-color: #0c1b2c;
}
main .main6 h3 {
  font-size: 1.9rem;
  font-weight: 500;
}
main .main6 p {
  color: #435972;
}
main .main6 .attendees {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-direction: row;
}
main .main6 .attendees img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main .main6 .attendees P {
  color: white;
}
main .main6 .attendees i {
  color: goldenrod;
}

@media (min-width: 1000px) {
  main .main1 {
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1.3fr;
    grid-template-areas: "m1left m1right";
  }
  main .main1 .m1Text {
    grid-area: m1left;
  }
  main .main1 .m1Text .button {
    display: flex;
    flex-direction: row;
  }
  main .main1 .images {
    position: relative;
    grid-area: m1right;
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  main .main1 .images .left {
    position: absolute;
    border-top-left-radius: 167px;
    border-bottom-right-radius: 167px;
    background-color: #3b82f6;
    right: 1rem;
  }
  main .main1 .images .right {
    left: 1rem;
    top: -9rem;
    position: absolute;
    border-bottom-left-radius: 167px;
    border-top-right-radius: 167px;
    background-color: #47c4fe;
  }
  main .main2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    place-items: center;
  }
  main .main2 .m2Img {
    height: 80%;
  }
  main .main2 .m2Img .slider {
    width: 80%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    height: 20%;
    scrollbar-width: thin;
    cursor: grab;
  }
  main .main3 .speakers {
    display: flex;
  }
  main .main3 .m3bImage {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .main3 .m3bImage > div:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0;
  }
  main .main3 .m3bImage > div:last-child {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0 !important;
  }
  main .main3 .m3bImage > div:last-child .m3bText {
    border-radius: 20px;
  }
  main .main4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .main4 .m4Text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  main .main4 .m4Text .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=anant.css.map */