@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
@mixin flex-layout($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
main {
  // border: 1px solid blueviolet;
  background-color: #001020;
  .main1 {
    padding: 2rem 1.5rem;
    padding-bottom: 2rem;
    display: grid;
    gap: 1.5rem;
    .m1Text {
      @include flex-layout(1rem);
      P:first-child {
        font-weight: 700;
        color: #3b82f6;
        font-size: 1.2rem;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: capitalize;
      }
      p:last-child {
        color: #ffffff70;
        font-size: 1.2rem;
      }

      & > div {
        @include flex-layout(1rem);

        button {
          width: fit-content;
          padding: 1rem 3rem;
          border-radius: 8px;
          border: 2px solid #3b82f6;
          background-color: #3b82f6;
          color: #fff;
          font-size: 1.2rem;
          font-weight: 600;
        }
        & > button:nth-child(2) {
          background-color: #000;
          color: #3b82f6;
          i {
            color: #3b82f6;
          }
        }
      }
    }
    .images {
      display: none;
    }
  }

  .main2 {
    background-color: #0c1b2c;
    padding: 2rem 1.5rem;
    .m2Img {
      @include flex-layout(1rem);
      justify-content: center;
      align-items: center;
      img {
        border-radius: 20px;
        width: 100%;
      }
      .slider {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        width: 100%;
        padding: 0 15%;
        scroll-padding: 0 15%;
        gap: 2rem;
        .small {
          flex: 0 0 70%;
          scroll-snap-align: center;
          object-fit: cover;
        }
      }
    }
    .m2text {
      display: grid;
      gap: 1.5rem;
      h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: #c5e2ff71;
      }
      button {
        width: fit-content;
        padding: 1rem 3rem;
        border-radius: 8px;
        border: 2px solid #3b82f6;
        background-color: #00000000;
        color: #3b82f6;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .main3 {
    width: 100%;
    padding: 2rem 1.5rem;
    @include flex-layout(2rem);
    align-items: center;
    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
    .speakers {
      display: grid;
      gap: 3rem;
      .img {
        display: grid;
        gap: 0.5rem;
        img {
          width: 100%;
          border-radius: 0.6rem;
        }
        & > h5 {
          font-size: 2rem;
          font-weight: 500;
        }
        & > p {
          color: #dce1e79b;
          font-size: 1.2rem;
          font-weight: 300;
        }
      }
    }
    .m3Bottom {
      width: 100%;
      @include flex-layout(2rem);
      // align-items: center;
      text-align: center;
      h3 {
        font-size: 2rem;
        font-weight: 500;
      }
      p {
        font-size: 1.15rem;
        color: #ffffff73;
      }
      .m3bImage {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, minmax(100px, auto));
        & > div:first-child {
          padding: 1rem;
          background-color: #3b82f6;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          @include flex-layout(0);
          align-items: center;
          justify-content: center;
          img {
            width: 85%;
          }
        }
        & > div:last-child {
          padding: 1rem;
          background-color: #47c4fe;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          @include flex-layout(0);
          align-items: center;
          justify-content: center;
          .m3bText {
            display: grid;
            gap: 1rem;
            border-radius: 20px;
            width: 90%;
            padding: 2rem 1rem;
            text-align: left;
            background-color: #1a1818;
            h4 {
              font-size: 1.8rem;
              font-weight: 500;
            }
            div {
              display: flex;
              align-items: center;
              gap: 0.2rem;
              h5 {
                font-size: 1.5rem;
                font-weight: 500;
              }
              p {
                font-size: 1.3rem;
                font-weight: 300;
              }
            }
            p {
              font-size: 1rem;
            }
            button {
              margin: 0 auto;
              width: fit-content;
              background-color: #3b82f6;
              padding: 1.5rem 4rem;
              font-size: 1.4rem;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }

  .main4 {
    background-color: #0c1b2c;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    h3 {
      font-size: 2rem;
      font-weight: 500;
    }
    p {
      font-size: 1.3rem;
      color: #dadada83;
    }
    .stats {
      display: grid;
      gap: 2rem;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      h4 {
        font-size: 1.8rem;
        font-weight: 500;
      }
      p {
        font-size: 1.1rem;
      }
    }
    img {
      width: 100%;
      border-radius: 2rem;
    }
  }

  .main5 {
    padding: 2rem 1.5rem;
    display: grid;
    gap: 1.8rem;
    h4 {
      text-align: center;
      font-size: 1.5rem;
    }
    .mDate {
      @include flex-layout(1rem);
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .date {
        &:hover {
          border: 1px solid #0c1b2c;
          background-color: #0c1b2c;
        }
        width: fit-content;
        padding: 1rem 2rem;
        align-items: center;
        @include flex-layout(0.1rem);
        flex-direction: column;
        border: 1px solid #47c4fe;
        h3 {
          font-size: 2.3rem;
          font-weight: 300;
        }
        h3,
        p {
          color: #dadada83;
        }
      }
    }
    .m5Bottom {
      border: 1px solid #435972;
      border-radius: 2rem;
      padding: 1.4rem 2rem;
      display: grid;
      gap: 1.4rem;
      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }
      hr {
        background-color: #3714ff;
      }
      .m5bImg {
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          transition: transform 0.5s ease;
          &:nth-child(2) {
            margin-left: -10px;
          }
        }
      }
      .guest {
        display: grid;
        gap: 0.4rem;
        p:first-child {
          color: #435972;
        }
        p:nth-child(2) {
          font-size: 1rem;
          font-family:
            "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
        BUTTON {
          color: #3b82f6;
          border: 2px solid #3b82f6;
          width: fit-content;
          background-color: transparent;
          border-radius: 0.4rem;
          padding: 0.6rem 2rem;
        }
      }
      #guest {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      /* Cool hover effect: spread them out when hovering */
      .m5bImg:hover img:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  .main6 {
    display: grid;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: #0c1b2c;
    h3 {
      font-size: 1.9rem;
      font-weight: 500;
    }
    p {
      color: #435972;
    }
    .attendees {
      @include flex-layout(2rem);
      flex-direction: row;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      P {
        color: white;
      }
      i {
        color: goldenrod;
      }
    }
  }
}

// Responsive Design
@media (min-width: 1000px) {
  main {
    .main1 {
      height: 100vh;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1.3fr;
      grid-template-areas: "m1left m1right";
      .m1Text {
        grid-area: m1left;
        .button {
          display: flex;
          flex-direction: row;
        }
      }
      .images {
        position: relative;
        grid-area: m1right;
        display: grid;
        gap: 1rem;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        .left {
          position: absolute;
          border-top-left-radius: 167px;
          border-bottom-right-radius: 167px;
          background-color: #3b82f6;
          right: 1rem;
        }
        .right {
          left: 1rem;
          top: -9rem;
          position: absolute;
          border-bottom-left-radius: 167px;
          border-top-right-radius: 167px;
          background-color: #47c4fe;
        }
      }
    }
    .main2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      place-items: center;
      .m2Img {
        height: 80%;
        .slider {
          width: 80%;
          user-select: none;
          height: 20%;
          scrollbar-width: thin;
          cursor: grab;
        }
      }
    }
    .main3 {
      .speakers {
        display: flex;
        // border: 2px solid salmon;
      }
      .m3bImage {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        & > div:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px; 
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0;
        }
        & > div:last-child {
          border-top-right-radius: 20px ;
          border-bottom-left-radius: 0 !important;

          // Now you can target the text inside
          .m3bText {
            border-radius: 20px; // This is the inner container
          }
        }
      }  
    }
    .main4{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .m4Text{
        @include flex-layout(20px);
        justify-content: center;
        .stats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      }
    }
    .main5{
      .m5Bottom{

      }
    }
  }
}
